[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/vim-syntastic/editorconfig-vim.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/vim-syntastic/vim-elixir.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = https://github.com/vim-syntastic/vim-gutentags.git
