[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-fsharp"]
	path = .vim/bundle/vim-fsharp
	url = git@github.com:fsharp/vim-fsharp.git
