[alias]
	c = commit
	s = status
	bb = branch
	co = checkout
	b = checkout -b
	cb = rev-parse --abbrev-ref HEAD
  mv = branch -m
	hotkeys = config --global -l
	ce = commit --allow-empty
[user]
	email = jan.zwetsloot@adglobe.co.jp
	name = zwetsloot robert jan
[color "branch"]
	local = blue
	current = blue reverse
[color "status"]
	added = cyan bold
	changed = cyan
	untracked = blue bold
[core]
	editor = /snap/bin/nvim
	excludesfile = /Users/robertjanzwetsloot/.gitignore
	filemode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true
[pull]
	rebase = false
